:root {
    --white: #fafafa;
    --black: #0c0c0c;
    --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* loader style */
.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
    background-color: #fdfbfb;
    z-index: 9999;

}

a:link, a:active, a:visited, a:focus{
    text-decoration: none;
    color: var(--black);
}

.custom-loader {
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #77cbff 80%),
        radial-gradient(var(--r1) var(--r2) at bottom, #77cbff 79.5%, #0000 80%),
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #77cbff 80%),
        #D2D2D2;
    background-size: 50.5% 220%;
    background-position: -100% 0%, 0% 0%, 100% 0%;
    background-repeat: no-repeat;
    animation: p9 1s infinite linear;
}

@keyframes p9 {
    33% {
        background-position: 0% 33%, 100% 33%, 200% 33%
    }

    66% {
        background-position: -100% 66%, 0% 66%, 100% 66%
    }

    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%
    }
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to bottom, #FFFFFF 19%, #F9F871 35%, #FFC75F 45%, #FF9671 55%, #FF6F91 65%, #D65DB1 75%, #845EC2 89%, #ffffff 100%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 19%, #F9F871 35%, #FFC75F 45%, #FF9671 55%, #FF6F91 65%, #D65DB1 75%, #845EC2 89%, #ffffff 100%);
    background: linear-gradient(to bottom, #FFFFFF 19%, #F9F871 35%, #FFC75F 45%, #FF9671 55%, #FF6F91 65%, #D65DB1 75%, #845EC2 89%, #ffffff 100%);
}

.navbar {
    width: 100%;
    position: absolute;
    background: rgba(255, 254, 254, 0.41);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    max-height: 10vh;
    z-index: 999;
}


.navbar-toggler {
    border: none;
}

.dropdown-menu {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(141, 141, 141, 0.106);
}

.dropdown-menu li:hover {
    background-color: #e9ecef;
    border-radius: 16px;
}


.btn {
    border: none;
}


.navbar-brand {
    width: 18vw;
    max-width: 150px;
}

section {
    width: 100%;
    height: auto;
    margin: 50px auto;
    border: 1px solid transparent;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;

}

.bg-img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}


.hero-content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 10vh;
    margin: 5vw 0px;
    display: flex;
    flex-direction: column;
}

.hero-text-h1 {
    font-size: 10vw;
    font-weight: bold;
    margin: 0px 15vw;
    color: var(--white);
    text-shadow: -2px 0px 20px black;
}

.hero-text-h3 {
    margin: 5vw 15vw;
    font-size: 4vw;
    color: var(--black);
    font-weight: normal;
}

.hero span {
    display: grid;
}

.product-sec-btn {
    margin: 0px auto;
    width: fit-content;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    font-weight: bold;
    color: var(--black);
    z-index: 90;
}

.product-sec-btn:hover {
    box-shadow: inset 0 0 60px whitesmoke,
        inset 10px 0 80px #f0f,
        inset -10px 0 80px #0ff,
        inset 10px 0 300px #f0f,
        inset -10px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.about,
.product-card, .alert-container{
    opacity: 0;
}

.about {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 8vh 7vw;
    text-align: justify;
    margin: 15px auto;
    width: auto;
}

fieldset {
    border-top: 2px dashed;
    border-color: #ccc;
}

legend {
    float: inherit;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product-card {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    margin: 10px 10px;
    height: auto;
    max-width: 420px;
    cursor: pointer;
}

.product-card:hover {
    scale: 1.1;
    transition-duration: 0.8s;
}


.card-img-overlay {
    display: none;
}

.card-content {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 43, 43, 0.6166841736694677) 32%, rgba(0, 0, 0, 0.6755077030812324) 100%);
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 10%;
    font-size: 14px;
    padding: 10px;
}


.card .btn {
    width: fit-content;
    margin: 0px auto;
    font-size: 16px;
}

.contact-container {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: var(--white);
}

.contact-one {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px;
    justify-content: center;
}

.contact-sec-1st-container,
.contact-sec-2nd-container,
.contact-sec-3rd-container {
    padding: 10px;
    margin: 0px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.contact-two {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: fit-content;
}


.card-ss {
    padding: 10px;
    box-shadow: var(--box-shadow);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.836) 0%, rgba(255, 255, 255, 0.836) 32%, rgba(255, 255, 255, 0.836) 100%);
}

.card-ss .fa-circle-xmark{
    width: fit-content;
    position: absolute;
    right: -5px;
    top: 10px;
}

.card-ss .fa-circle-xmark:hover, .card-ss .fa-circle-xmark:focus, .card-ss .fa-circle-xmark:active{
    animation: rotate 0.2s linear;
    transform: scale(1.1);
}


.fa-box-open, .fa-house, .fa-phone, .fa-square-instagram, .fa-square-facebook, .fa-map-location-dot{
    padding: 8px;
    padding-left: 0px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

.card-ss .card-content{
    font-weight: 600;
    text-transform: uppercase;
}


.alert-container {
    width: 100%;
    height: 100%;
    margin: auto;   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: transparent;
    position: fixed;
    top: 0px;
}

.alert-container .card .card-content{
    background: white;
    font-size: medium;
}

.alert-container .card .btn {
    padding: 5px;
    width: 60px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 1px solid rgba(255, 255, 255, 0.24);
    font-weight: bold;
    color: var(--black);
}

.alert-container .card .btn:hover {
    box-shadow: inset 0 0 60px whitesmoke,
        inset 10px 0 80px #f0f,
        inset -10px 0 80px #0ff,
        inset 10px 0 300px #f0f,
        inset -10px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

@media only screen and (min-width:1000px) {
    .card-content {
        font-size: 12px;
    }

    .card .btn {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width:575px) {
    .nav-menu {
        background: rgb(255, 255, 255);
    }

    .nav-menu:hover {
        background-color: #e9ecef;
    }

    .contact-sec-1st-container {
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 100%;
    }

    .contact-sec-2nd-container,
    .contact-sec-3rd-container{
            font-size: 14px;
        }
}

@media only screen and (max-width: 400px){
    .card-content{
        font-size: 2vw;
    }
}